<div class="ui-list">
    <mat-card class="ui-card">
        <mat-card-header>
            <mat-card-title>UI Technologies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Explore various UI technologies.</p>
        </mat-card-content> 
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Tab 1">
                <ng-template mat-tab-label>
                    <p>Angular</p>
                </ng-template>
            <ng-template matTabContent>
                <app-angular></app-angular>
            </ng-template>
            </mat-tab>
        <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
                <p>React</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 2.</p>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tab 3">
            <ng-template mat-tab-label>
                <p>Rxjs</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 3.</p>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tab 4">
            <ng-template mat-tab-label>
                <p>Spring Boot Java</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 4.</p>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tab 5">
            <ng-template mat-tab-label>
                <p>Java</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 5.</p>
            </ng-template>
        </mat-tab>
        </mat-tab-group>
    </mat-card>

</div>
