<div class="personal-details-container">
<mat-tab-group class="tab-personal-details" mat-stretch-tabs>
	<mat-tab>
		<ng-template mat-tab-label>
			<span>Personal Details</span>
		</ng-template>
		<div>
            <div class="text-font"> Unish Kumar V</div>
            <div class="text-font"> 19th JULY 1998</div>
            <div class="text-font"> Male</div>            
        </div>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<span>Address</span>
		</ng-template>
		<div>
            <b> Permanent Address:</b>
            <div class="text-font"> 141, MIDDLE STREET</div>
            <div class="text-font"> SAMBATHURAYAN PETTAI, ARRAKONAM T. K</div>
            <div class="text-font"> VELLORE DISTRICT - 631002</div>
        </div>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<span>Contact Details</span>
		</ng-template>
		<div>  
            <div class="text-font"> <b> Mobile: </b> +91 96261 72029</div>
            <div class="text-font"> <b> Alternate Mobile: </b> +91 98433 62373</div>
            <div class="text-font"> <b> Email: </b> vasulatha9843&#64;gmail.com</div>
            <div class="text-font"> <b> Alternate Email: </b> unishkumar9626&#64;gmail.com</div>
        </div>
	</mat-tab>
    <mat-tab>
		<ng-template mat-tab-label>
			<span>Language</span>
		</ng-template>
		<div>
            <div class="text-font"> English</div>
            <div class="text-font"> Tamil</div>
            <div class="text-font"> Hindi</div>
        </div>
	</mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Website</span>
        </ng-template>
        <div>
            <div class="text-font"> <b> LinkedIn: </b> https://www.linkedin.com/in/unish-kumar-v-4a0a1b1b2/</div>
            <div class="text-font"> <b> GitHub: </b> https://github.com/unishkumar</div>
            <div class="text-font"> <b> Portfolio: </b> https://unishkumar.github.io/portfolio/</div>
            <div class="text-font"> <b> Resume: </b> https://unishkumar.github.io/resume/</div>
        </div>
    </mat-tab>
</mat-tab-group>
</div>
