<div class="angular-content">
            <mat-tab-group animationDuration="0ms">
            <mat-tab label="Tab 1">
                <ng-template mat-tab-label>
                    <p>Basic</p>
                </ng-template>
            <ng-template matTabContent>
                    <p>Angular is a web framework that empowers developers to build fast, reliable applications. Angular uses Typescript.</p>
                    <p>Angular is a TypeScript-based front-end web application framework. It targets both the browser and the server. Angular is one of the most popular frameworks for UI design today, with hundreds of thousands of developers. It is maintained by Google, and its primary function is to design single-page applications. It allows developers to create large, maintainable applications.</p>
                    <p>Angular supports bidirectional data binding as well as mutable data. The biggest benefit of Angular is that it enables dependency injection. Angular can be used in both mobile and web development. Angular features a wide wide range of tools, libraries, frameworks, plugins, and so on that make development faster and more fun.</p>
                    <p>Angular is a free, open-source, TypeScript-based framework for front-end development maintained by Google. It is popular for single-page applications but is also used to build enterprise-level web applications, progressive web applications (PWAs), and mobile apps. Client-side frameworks like Angular were introduced to provide a more responsive user experience. It provides various tools, APIs, and libraries to streamline development. Angular’s features, such as lazy loading, AoT, and change detection, improve performance and speed up loading times. Data from BuiltWith shows that over 690,000 websites have historically used Angular, and 246,000+ websites currently use it.</p>
                    <a href="https://angular.dev/" target="_blank">Learn more about Angular</a>
            </ng-template>
            </mat-tab>
        <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
                <p>About HTML CSS & JavaScript</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 2.</p>
                <a href="https://acchou.github.io/html-css-cheat-sheet/html-css-cheat-sheet.html#html" target="_blank">Learn more about HTML & CSS</a>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tab 3">
            <ng-template mat-tab-label>
                <p>Examples</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 3.</p>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tab 4">
            <ng-template mat-tab-label>
                <p>Interview Questions</p>
            </ng-template>
            <ng-template matTabContent>
                <p>1. What is Angular? Why was it introduced?</p>
                <p>Angular is an open-source web application framework for building dynamic, single-page applications (SPAs) with highly intuitive user interfaces. It encompasses 2-way data binding, component-based architecture, and dependency injection. Angular was introduced to create SPAs, bring structure and consistency to web applications, and provide excellent scalability and maintainability.</p>

                <p>2. What is TypeScript?</p>
                <p>TypeScript is a programming language that builds on JavaScript by adding extra features to make it powerful and easy to use. Its potential is implemented especially in large projects. TypeScript allows developers to define the data type that the variables should hold. Furthermore, it helps identify errors during development, making debugging easier.</p>

                <p>3. What is Data Binding in Angular? Which type of Data Binding does Angular deploy?</p>
                <p>Data binding allows any internet user to manipulate web page elements using a web browser. It uses dynamic HTML and does not require complex scripting or programming. Data binding in Angular is commonly used in web pages that contain interactive components such as forms, calculators, tutorials, and games. Incremental display of a webpage makes data binding convenient when pages have enormous amounts of data. The four types of data binding include Interpolation, Property Binding, Event Binding, and Two-Way Binding.</p>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tab 5">
            <ng-template mat-tab-label>
                <p>Commands</p>
            </ng-template>
            <ng-template matTabContent>
                <p>This is the content for Tab 5.</p>
            </ng-template>
        </mat-tab>
        </mat-tab-group>
</div>
